<script>
  import { createEventDispatcher } from 'svelte'
  import { getPlaceholder } from '../utils/view-helper'
  import filterFunctions from '../utils/filters'

  // Maska needs to be loaded this way
  const Maska = require('maska')

  export let item = null
  export let field = null
  export let index = undefined

  let input
  $: fieldName = `field_${field.ModelField.name}${index !== undefined ? `_${index}` : ''}`
  
  const dispatch = createEventDispatcher()

  let masks = {
    cnpjCpf: [ '###.###.###-##', '##.###.###/####-##' ]
  }

  function applyMask (maskName, input) {
    if (!input) {
      return
    }

    const mask = Maska.create(input, {
      mask: JSON.stringify(masks[maskName])
    });
  }

  $: applyMask(field.mask, input)

  const handleChange = ($event) => {
    dispatch('change', $event.target.value)
  }
</script>

<input type="text" 
  bind:this={input}
  id="fieldName" 
  name="fieldName" 
  class="input masked-{field.mask}"
  placeholder="{getPlaceholder(field)}" 
  required={field.required} 
  maxlength={field.ModelField.length || ''}
  value={filterFunctions[field.mask](item[field.ModelField.name])} 
  on:change={handleChange}
>
