<script>
  import { createEventDispatcher } from 'svelte'
  import { get } from '../utils/request'
  import { getLabel, getPlaceholder, crop } from '../utils/view-helper'

  export let field = {}
  export let value = null
  export let id = ""
  export let parentStore = null
  export let filterInfo = null

  let items = []
  let lastFiltersApplied = {}
  let isFirstLoad = true

  $: valueColumn = field.valueColumn || 'id'
  $: descriptionColumn = field.descriptionColumn || 'name'

  const dispatch = createEventDispatcher()

  // Set new value to parent
  function setValue ($event) {
    dispatch('change', $event.target.value)
  }

  function getDescription (col, item) {
    const columns = col.split(',')
    return columns
      .map(column => {
        const subcolumns = column.split('.')
        let result = item
        subcolumns.forEach(c => {
          if (result && result[c]) {
            result = c === 'labelKey' ? getLabel(result[c]) : result[c]
          } else {
            result = c === 'labelKey' ? getLabel(result) : result
          }
        })

        return result
      })
      .join(' - ')
  }

  function loadContent(store) {
    // Get data
    let include = field.include
    let filters = field.filters || (filterInfo ? filterInfo.filters : null)
    let where = null
    let willReload = isFirstLoad

    if (filters) {
      where = filters.map(w => {
        const whereClause = { ...w }
        if (typeof whereClause.value === 'string') {
          const matches = whereClause.value.match(/:store.*:/)
          if (matches) {
            let properties = whereClause.value.replace(/:/g, '').split('.')
            properties.splice(0, 1)

            let absoluteValue = null
            if (store) {
              absoluteValue = store
              properties.forEach(p => {
                if (absoluteValue) {
                  absoluteValue = absoluteValue[p]
                }
              })
            }
            whereClause.value = whereClause.value.replace(matches[0], absoluteValue)
            
            if (lastFiltersApplied[matches[0]] && lastFiltersApplied[matches[0]] !== absoluteValue) {
              willReload = true
            }
          }
        }

        return whereClause
      })
    }

    if (willReload) {
      if (isFirstLoad) {
        isFirstLoad = false
      }

      get('/data', { include, where: { AND: where } }, { Model: field.ModelField.targetModel })
        .then(({ data }) => {
          if (!value && field.ModelField.default) {
            setValue({ target: { value: field.ModelField.default }})
          }

          items = [ ...data.result ]
        })
        .catch(console.error)
    }
  }

  /*
  function loadContent(store) {
    // Get data
    let include = field.include
    let filters = field.filters
    let where = null
    let willReload = isFirstLoad

    if (filters) {
      where = filters.map(w => {
        const whereClause = { ...w }
        const matches = whereClause.value.match(/:store.*:/)
        if (matches) {
          let properties = whereClause.value.replace(/:/g, '').split('.')
          properties.splice(0, 1)

          let absoluteValue = null
          if (store) {
            absoluteValue = store
            properties.forEach(p => {
              if (absoluteValue) {
                absoluteValue = absoluteValue[p]
              }
            })
          }
          whereClause.value = whereClause.value.replace(matches[0], absoluteValue)
          
          if (lastFiltersApplied[matches[0]] && lastFiltersApplied[matches[0]] !== absoluteValue) {
            willReload = true
          }
        }

        return whereClause
      })
    }

    if (willReload) {
      if (isFirstLoad) {
        isFirstLoad = false
      }

      get('/data', { include, where: { AND: where } }, { Model: field.ModelField.targetModel })
        .then(({ data }) => {
          console.log()
          items = [ ...data.result ]
        })
        .catch(console.error)
    }
  }
  */

  $: loadContent(parentStore)
</script>

<div class="select w-full">
  <select id={id} name="field_{field.ModelField.name}" class="w-full" bind:value on:change={setValue} required={field.required}>
    <option value="">{getPlaceholder(field, false)}</option>
    {#each items as item}
      <option value={item[valueColumn]} selected={item[valueColumn] === value}>{crop(getDescription(descriptionColumn, item), 100)}</option>
    {/each}
  </select>
</div>
