<script>
  import { getPlaceholder } from '../utils/view-helper'

  export let item = null
  export let field = null
</script>

<textarea id="field_{field.ModelField.name}"
  name="field_{field.ModelField.name}"
  class="textarea"
  bind:value={item[field.ModelField.name]}
  placeholder="{getPlaceholder(field)}"
  required={field.required}
  rows={field.ModelField.type === 'text' ? (field.rows || 1) : 4}
  maxlength={field.ModelField.length || ''}
></textarea>
