<script>
  import Navbar from './partials/Navbar.svelte'
  import { location, querystring } from 'svelte-spa-router'
  import { views } from '../../store'

  import Index from './Index.svelte'
  import NotFound from './NotFound.svelte'
  import ListView from './ListView.svelte'
  import FormView from './FormView.svelte'
  import SiteView from '../custom/SiteView.svelte'

  export let params = {} // params from url

  let currentView = null
  let currentComponent = null

  let allViews = []
  const components = {
    ListView,
    FormView,
    SiteView,
  }

  function getView () {
    if (!$views || !$views.length) {
      return
    }

    if (params.view === undefined) {
      currentComponent = Index
      currentView = {}
      return
    }

    currentView = $views.find(v => {
      if (v.slug) {
        return v.slug.replace(/\//g, '') === params.view
      }
    })

    if (currentView) {
      // order fields
      currentView.ViewFields = currentView.ViewFields.sort((a, b) => a.order - b.order)
      currentComponent = components[currentView.type]
    } else {
      currentComponent = NotFound
      currentView = {}
    }
  }

  $: if (params.view) {
    getView()
  }

  views.subscribe(viewsValue => {
    getView()
  })
</script>

<main class="flex flex-column h-screen is-clipped">
  <Navbar />

  <aside class="bg-gray-200 flex-grow has-auto-scroll main-content p-3">
    {#if !currentView}
      <!-- Loading... -->
    {:else}
      <svelte:component this={currentComponent} view={currentView} id={params.id} />
    {/if}
  </aside>
</main>

<style>
.main-content {
  /* margin-top: 80px; */
  width: 100vw;
}
</style>
