<script>
  import Router, { push, replace } from 'svelte-spa-router'
  import { routes } from './routes'
  import { get } from './utils/request'
  import { authToken, user, views, labels, organizations, currentOrganization } from './store'

  function conditionsFailed (event) {
    if (event.detail.routeIsPrivate && event.detail.userIsLoggedIn === false) {
      replace('/login')
    }
  }

  function loadMetadata () {
    const storedOrganizationId = localStorage.getItem('currentOrganizationId')

    get('/metadata')
      .then(({ data }) => {
        views.set(data.views)
        labels.set(data.labels)
        user.set(data.user)
        organizations.set(data.organizations)

        let org = data.user.DefaultOrganizationId
        if (storedOrganizationId) {
          org = storedOrganizationId
        } else if (!org) {
          org = data.organizations[0].Organization.id
        }

        currentOrganization.set(org)

        localStorage.setItem('user', JSON.stringify($user))
        localStorage.setItem('currentOrganizationId', org)
  
        if (data.user === null) {
          authToken.set(null)
          localStorage.removeItem('user')
          localStorage.removeItem('authToken')
          push('/login')
        }
      })
      .catch(console.error)
  }

  // Update Metadata as needed
  window.onmessage = function ({ data }) {
    if (data === 'update-metadata') {
      loadMetadata()
    }
  }

  loadMetadata()

  const localUser = localStorage.getItem('user')
  const localToken = localStorage.getItem('authToken')
  authToken.set(localToken)
  if (localUser) {
    user.set(JSON.parse(localUser))
  }
</script>

<Router {routes} on:conditionsFailed={conditionsFailed} />
