<script>
  import { get } from "../../utils/request";
  
  // import logo from "../../images/svgs/ic-brand.svg";
  // import instagramLogo from "../../images/svgs/instagram.svg";

  // import banner1 from "../../images/banner/banner-1.jpg";

  // import propositoImg1 from "../../images/proposito/purpose_1.jpg";
  // import propositoImg2 from "../../images/proposito/purpose_2.jpg";
  // import propositoImg3 from "../../images/proposito/purpose_3.jpg";

  // import produto1 from "../../images/produto/6.jpg";
  // import produtoIcone from "../../images/produto/product_icon_1.jpg";

  // import grid1 from "../../images/grid/1.jpg";
  // import grid2 from "../../images/grid/1 (1).jpg";
  // import grid3 from "../../images/grid/1 (2).jpg";

  // import assinatura from "../../images/sobre/about.jpg";
  // import sobreFoto from "../../images/sobre/about.jpg";

  // import logoFooter from "../../images/svgs/ic-brand2.svg";
  // import instagramFooter from "../../images/svgs/instagramFooter.svg";
  // import whatsappFooter from "../../images/svgs/whatsappFooter.svg";
  // import emailFooter from "../../images/svgs/emailFooter.svg";
  
  export let view;
  export let id;

  const logo = '';
  const instagramLogo = '';
  const banner1 = '';
  const propositoImg1 = '';
  const propositoImg2 = '';
  const propositoImg3 = '';
  const produto1 = '';
  const produtoIcone = '';
  const grid1 = '';
  const grid2 = '';
  const grid3 = '';
  const assinatura = '';
  const sobreFoto = '';
  const logoFooter = '';
  const instagramFooter = '';
  const whatsappFooter = '';
  const emailFooter = '';

  let banners = [];
  
  get('/data', { limit: 1 }, { Model: 'Banner' }, true)
      .then(({ data }) => {
        banners = data.result;
      })
      .catch((error) => {
        errorMessages = error.response.data.messages
      })
  
</script>

<div class="container p-3">
  <header id="home" class="header">
    <div>
      <img src={logo} alt="logo" />
      <nav>
        <ul>
          <li><a href="#home">HOME</a></li>
          <li><a href="#proposito">PROPÓSITO</a></li>
          <li><a href="#produtos">PRODUTOS</a></li>
          <li><a href="#sobre">SOBRE</a></li>
          <li><a href="#contato">CONTATO</a></li>
          <li>
            <a href="https://www.instagram.com/reamopets/"
              ><img src={instagramLogo} alt="instagram" /></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main">
    <!-- Banner -->
    <section id="banner" class="banner">
      {#each banners as banner}
        <h2>{banner.title}</h2>
        <p>
          {banner.description}
        </p>
        <img src={banner.image} alt={banner.title} />
      {/each}
    </section>

    <!-- Propósito -->
    <section id="proposito">
      <p>
        Assim como você, somos preocupados com o meio ambiente e com nosso
        impacto no mundo. Nosso propósito é contribuir com a redução de resíduos
        têxteis, oferecendo uma linha de produtos que, tem em sua essência, o <strong
          >upcycling.</strong
        >
      </p>

      <ul>
        <li>
          <img src={propositoImg1} alt="imagem de produto" />
          <p>
            Resíduos de malha e tecidos de boa qualidade são coletados em
            indústrias têxteis através de uma logística própria. A seleção por
            cores e tipos de materiais é feita manualmente.
          </p>
        </li>

        <li>
          <img src={propositoImg2} alt="imagem de produto" />
          <p>
            Cada resíduo têxtil é analisado para identificar o seu rendimento e
            viabilidade de aplicação, para que seja transformado em novos
            produtos, evitando ao máximo a utilização de matéria-prima virgem.
          </p>
        </li>

        <li>
          <img src={propositoImg3} alt="imagem de produto" />
          <p>
            Através de um reaproveitamento consciente e criativo, este processo
            resulta em peças de qualidade e funcionais, sem a necessidade de um
            novo tingimento ou uso de água.
          </p>
        </li>
      </ul>
    </section>

    <!-- upcycling -->
    <section id="upcycling" class="upcycling">
      <p><strong>Upcycling</strong> é a arte de recriar, reaproveitar e ressignificar.</p>

      <p>
        Como você já viu, todas as peças <strong>Reamo Pets</strong> são criadas
        a partir do reaproveitamento têxtil. Com este processo sustentável, é normal
        que os produtos apresentem variações entre uma peça e outra, seja em sua
        composição, trama ou tonalidade.
      </p>
    </section>

    <!-- Produtos -->
    <section id="produtos">
      <ul>
        <li>
          <figure>
            <img src={produto1} alt="imagem" />
            <figcaption>Cama Retangular Mimi P e M</figcaption>
          </figure>
        </li>
      </ul>

      <div>
        <img src={produtoIcone} alt="logo-produto" />
        <h2>HORA DA SONECA</h2>
        <h3>CAMA | COLCHONETE | FUTON</h3>

        <p>
          Pensando nos momentos de descanso dos nossos amados companheiros, a
          Linha Hora da Soneca oferece o conforto e aconchego que eles merecem.
          Através de tecidos resistentes e composições de cores clássicas que
          não irão comprometer a sua decoração.
        </p>
      </div>
    </section>

    <!-- Grid -->
    <section id="grid">
      <img src={grid1} alt="imagem" />
      <p>
        Continue consumindo produtos com significado e fazendo escolhas
        conscientes para quem está sempre ao seu lado. A natureza agradece!
      </p>
      <img src={grid2} alt="imagem" />
      <img src={grid3} alt="imagem" />
    </section>

    <!-- Sobre -->
    <section id="sobre">
      <p>
        A Reamo Pets nasceu de um sonho antigo e foi construída com pilares
        fortes, afinal, sempre fomos apaixonados pelos animais e pela natureza.
        Por isso, encontramos uma forma de unir estas duas paixões e criar uma
        marca alinhada ao nosso jeito de ser.
      </p>
      <p>
        Pensamos em cada detalhe com muito carinho para levar ao seu amigo de 4
        patas produtos feitos com muito amor envolvido. São peças que seguem um
        conceito minimalista, básico e atemporal.
      </p>
      <p>
        Faz parte do nosso propósito oferecer aos apaixonados por pets, a
        possibilidade de praticar um consumo consciente, com produtos alinhados
        ao movimento upcycling e a ressignifição do resíduo têxtil.
      </p>
      <p>
        A Reamo Pets está localizada em Ascurra, Santa Catarina. A marca
        pertence ao Grupo EuroFios, que está entre os maiores recicladores
        têxtêis do Brasil.
      </p>
      <img src={assinatura} alt="assinatura" />
      <img src={sobreFoto} alt="imagem" />
    </section>

    <!-- Contato -->
    <section id="contato" class="contato">
      <img src={logoFooter} alt="imagem" />

      <p>Fale com a gente.</p>

      <p>Atendimento ao Consumidor</p>
      <p>contato@reamo.com.br</p>

      <img src={instagramFooter} alt="imagem" />
      <img src={whatsappFooter} alt="imagem" />
      <img src={emailFooter} alt="imagem" />

      <p>Re-textil Fibras Recicladas Ltda. CNPJ 35.611.921/0001-75.</p>
      <p>
        Rua Apiúna, 841, Galpão 1. Bairro Estação. Ascurra - SC. CEP 89138-000
      </p>
      <p>Dev Sou Digital</p>
    </section>
  </main>
</div>
